body{
    margin:0px;
    font-family: lato;
}
header{
    
    background-color: #1185d7ee;
    text-align: center;

}
.logo{
    font-family:'anton';
    color:#fff;
    font-size:40px;

}
header input{
    margin:20px 0;
    font-size:20px;
}
.nameDiv{
    color:#fff;
    font-size:20px;
    font-family: lato;
}
